body {
    width: 100%;
}

#banner {
    margin: 0;
    height: 40px;
    border-bottom: 1px lightgray solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#insta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#insta img {
    width: 50%;
}

.search {
    border: 1px lightgray solid;
    margin: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    font-size: 70%;
    color: lightgrey;
    /* background-color: blueviolet; */
}

.logo1 {
    width: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo2 {
    width: 13%;
    margin: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo3 {
    width: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profile img {
    width: 100%;
    border-radius: 100%;
    border: 1px rgb(64, 69, 73) solid;
    padding: 1px;
    box-sizing: border-box;
}

#halftop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    box-sizing: border-box;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.me1 {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.me1 img {
    width: 100%;
    border-radius: 100%;
}

.me2 {
    width: 40%;
    height: 150px;
    box-sizing: border-box;
    padding: 0% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}

.threerows1 {
    font-size: 150%;
    font-weight: 100;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#word {
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 60%;
    border: 1px lightgray solid;
    border-radius: 5%;
}

.threerows2 {
    width: 90%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.threerows3 {
    width: 90%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.threeboxes1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.threeboxes2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.threeboxes3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#halfbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation {
    font-size: 80%;
    font-weight: bold;
    box-sizing: border-box;
    border-top: 1px lightgray solid;
    width: 60%;
    height: 50px;
    padding: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation span {
    font-size: 12px;
}

.smallnav1 {
    height: 50px;
    margin: 0 30px;
    box-sizing: border-box;
    padding: 20px 0px;
    border-top: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.smallnav2 {
    color: darkgray;
    margin: 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photos img {
    width: 19%;
    margin: 10px;
}
.photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.more {
    width: 60%;
    font-size: 70%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_info {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: darkblue;
}

.right_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.copyright span {
    font-size: 70%;
}

@media(max-width: 375px) {
    #banner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo2 {
        display: none;
    }
    #insta img {
        width: 100%;
    }
    .logo1 {
        margin: 0% 5%;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo3 {
        box-sizing: border-box;
        margin: 5%;
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .threerows2 {
        display: none;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .me1 {
        width: 25%;
        margin-left: 3%;
    }
    .me2 {
        width: 75%;
        justify-content: center;
    }
    .threerows1 {
        flex-wrap: wrap;
    }
    .threeboxes3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #word {
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .threerows3 {
        margin-top: 5%;
    }
    .navigation {
        width: 100%;
        border-bottom: 1px darkgray solid;
    }
    .photos img {
        width: 32%;
        margin: 1%;
    }
    .photos {
        justify-content: space-between;
        align-items: space-between;
    }
    .more {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }   
    .left_info {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .more_info {
        margin: 0% 5%;
    }
}
